@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #1E90FF;
  --color-secondary: #8A2BE2;
}


*{
    font-family: "Exo 2", sans-serif;
}


@keyframes gradientMove {
  0% { background-position: 0% }
  100% { background-position: 200% }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradientMove 4s linear infinite;
}


.grid-bg {
  background-color: #0b0f19;
  background-image:
    linear-gradient(rgba(0, 255, 255, 0.07) 1px, transparent 1px),
    linear-gradient(90deg, rgba(168, 85, 247, 0.07) 1px, transparent 1px);
  background-size: 40px 40px;
}